<%= form_for(@house) do |f| %>

  <% if @house.errors.any? %>
    <div class="alert alert-danger">
      <p><b><%= @house.errors.count %>件のエラーがあります</b></p>

      <ul>
        <% @house.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>
